     .sample-modal-page {
         .scroll-content {
             padding: 0 !important;
             overflow: hidden;
             form {
                 height: 100%;
                 .content-blk {
                     height: calc(100% - 50px);
                     overflow: auto;
                     .item {
                         &.item-block {
                             width: 80%;
                             margin-left: auto;
                             margin-right: auto;
                             padding-top: 40px;
                             .item-inner {
                                 padding-left: 20px;
                                 border: 1px solid #dedede;
                             }
                         }
                     }
                     ion-label {
                         border-right: 1px solid #dedede;
                         padding-right: 20px;
                     }
                     .imgUploadBlk {
                        .item-inner {
                            padding: 0 !important;
                            border: 0 !important;

                            ion-label{
                                padding: 0;
                                margin: 0;
                            }
                        }
                     }

                 }
             }
         }
     }
