// page-admin-home {
//     .menu {
//         float: left;
//     }
//     .submenu {
//         float: left;
//     }
// }
.ios,
.md {
    .toolbar-md-secondary .toolbar-background-md {
        background-color: #283018;
        font-weight: bold;
    }
    .toolbar-md-secondary .toolbar-title-md {
        font-weight: bold;
    }
    page-admin-home {
        .scroll-content {
            background-color: #ecf0f1;
            display: flex !important;
            justify-content: center;
        }
        ion-list {
            width: 90%;
        }
        ion-item-sliding {
            margin-top: 20px;
            border-radius: 20px;
        }
        ion-item {
            border: none !important;
            font-weight: bold !important;
        }
        .menu-box {
            width: 100vw;
            height: 20%;
            background-color: #f0eceb;
            position: absolute;
            overflow-y: auto;
            overflow-x: hidden;
            white-space: nowrap;
            .item-box {
                height: 50px;
                padding: 15px;
                color: white;
                background-color: black;
                padding: 15px;
                font-size: 16px;
                margin: 10px;
                display: inline-block;
                box-shadow: -4px 4px 6px -1px rgba(0, 0, 0, 0.75);
                .menu-item {
                    padding-right: 10px;
                }
                ion-icon {
                    font-size: 16px;
                    padding-left: 10px;
                    border-left: 1px solid white;
                }
            }
            .add-menu-item {
                margin: auto;
                height: 50px;
                width: 170px;
                color: white;
                background-color: #3a2818;
                padding: 15px;
                font-size: 16px;
                font-weight: bold;
                box-shadow: -4px 4px 6px -1px rgba(26, 33, 25, 0.75);
                .new-menu-item {
                    padding-right: 5px;
                }
                ion-icon {
                    font-size: 16px;
                    font-weight: bold;
                    padding-left: 10px;
                    border-left: 1px solid white;
                }
            }
        }
        .menu-list {
            height: 100%;
            width: 100vw;
            position: absolute;
            top: 0;
            .left-box {
                height: 100%;
                width: 20%;
                border: 1px solid brown;
                display: inline-block;
                overflow: hidden;
                background-color: #f0eceb;
                position: relative;
                .menu-list-box {
                    height: calc(100% - 55px);
                    overflow: auto;
                    &::-webkit-scrollbar {
                        width: 5px;
                        background-color: transparent;
                    }
                   &::-webkit-scrollbar-thumb {
                        background-color: #d8ccac;
                    }
                }
                .add-menu-btn {
                    position: absolute;
                    bottom: 0;
                    height: 50px;
                    padding: 15px;
                    text-align: center;
                    font-size: 16px;
                    font-weight: bold;
                    width: 100%;
                    background-color: #283018;
                    color: white;
                }
                .item-box {
                    height: 50px;
                    font-size: 16px;
                    font-weight: bold;
                    background-color: #d8ccac;
                    margin: 5px;
                    margin-left: 10px;
                    &:hover {
                        box-shadow: 0px 2px 2px 2px rgba(175, 167, 167, 0.75);
                    }
                    &.selected {
                        background-color: #677564;
                        color: white;
                        font-weight: bold;
                        box-shadow: 0px 2px 2px 2px rgba(37, 32, 32, 0.75);
                        .menu-item-box {
                            &.title {
                                border-left: 1px solid white;
                            }
                        }
                    }
                    // box-shadow: -4px 4px 6px -1px rgba(37, 32, 32, 0.75);
                    .menu-item-box {
                        padding: 15px;
                        height: 50px;
                        width: 45px;
                        display: inline-block;
                        float: left;
                        &.title {
                            border-left: 1px solid black;
                            height: 50px;
                            width: calc(100% - 45px);
                            display: inline-block;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
            }
            .right-box {
                height: 100%;
                width: 79%;
                border: 1px solid brown;
                display: inline-block;
            }
        }
    }
}
