<div class="sub-menu-list">
    <div *ngFor="let item of selectedMenu.items; let i = index" [attr.data-index]="i" class="item-box" [ngClass]="{'selected' : i==subMenuIndex}" (click)="selectItem(i)">
        <span class="submenu-item">
                {{item?.name}}
            </span>
    </div>
    <div class="add-submenu-btn" *ngIf="selectedMenu.title" (click)="addSubMenu()"><ion-icon name="add"></ion-icon></div>
</div>
<div class="sub-menu-description">
    <div class="row" *ngIf="selectedItem">
        <div class="col-xs-12">
            <h3 class="text-center title">{{selectedItem.name}} 
            <span class = "editSubMenu" (click)="editSubMenu(selectedItem)"><ion-icon name="create"></ion-icon></span>
             <span class = "deleteSubMenu" (click)="deleteSubMenu(selectedItem)"><ion-icon name="trash"></ion-icon></span>
            </h3>
            <div class="card">
                <div class="row description">
                        <h4 class="color-royal">Description</h4>
                        <div class="color-royal">{{selectedItem.description}}</div>
                </div>
                <div class="row img-ct">
                    <div class="col-lg-6 img-blk">
                    <div class="leftSlide" (click)="goToSlide('left')"><ion-icon name="ios-arrow-back"></ion-icon></div>
                    <div class="rightSlide" (click)="goToSlide('right')"><ion-icon name="ios-arrow-forward"></ion-icon></div>
                    <ion-slides>
                        <ion-slide *ngFor="let image of slideImages"><img [src]="photoURL(image)" class="row img-responsive"/></ion-slide>
                    </ion-slides>
                        
                    </div>
                    <div class="col-lg-6">
                        <div class="card-block text-center">
                            <h4 class="color-royal">Ingredients</h4>
                            <p>{{selectedItem.ingredients}}
                            </p>
                        </div>
                        <div class="card-block2">
                            <span class="ratings">
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star-half"></ion-icon>
                                <ion-icon name="star-outline"></ion-icon>
                            </span>
                            <span class="rate-blk">{{selectedItem.price}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>